*{
  margin: 0;
  padding: 0;
  margin-bottom: 0px!important;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Yantramanav', sans-serif;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

footer{margin-bottom: 30px;}

ul, li{
	list-style-type: none;
}
p{
    font-family: 'Yantramanav', sans-serif;
}

p{font-size: 18px; padding-bottom: 10px;}

hr {
    width: 70%;
    margin: auto;
}

.img_padrao{margin-bottom: 20px; width: 400px; height: 300px; padding: 30px;}
.img_contatos{width: 30px;}

.navbar {
	width: 100%;
	background-color: #593C39;
}

.navbar a{
	color: #fff!important;
}

.navbar a:hover{
	text-shadow: 2px 2px 4px #000000;
}

.space{
	padding-top: 2%;
	padding-bottom: 2%;
}

.sobre{
	height: 170px;
}

div.card{
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer{
    height: 40px;
    padding: 10px;
}
