*{
  margin: 0;
  padding: 0;
  margin-bottom: 0px!important;
}

footer{margin-bottom: 30px;}

ul, li{
	list-style-type: none;
}

p{font-size: 18px; padding-bottom: 10px;}

.img_padrao{margin-bottom: 20px; width: 400px; height: 300px; padding: 30px;}
.img_contatos{width: 30px;}

.navbar {
	background-color: #678C16;
}

.navbar a{
	color: #fff!important;
}

.navbar a:hover{
	text-shadow: 2px 2px 4px #000000;
}

.margin{
	padding-top: 50px;
	padding-bottom: 50px;
}

.sobre{
	background-color: #F2EFC2;
	height: 170px;
}

.servico {
	background-color: #F2E5A2;
}

div.card{
	margin-top: 20px;
	margin-bottom: 20px;
}

.cliente {
	background-color: #F2F2F2;
}

.parceiro{
	background-color: #90BF2A!important;
}

.contatos {
	background-color: #F2EFC2;
}

.footer{
	background-color: #F2E5A2;
}