body{margin-left: 100px; margin-right: 200px;}

header{margin-top: 60px;}

footer{margin-bottom: 30px;}

h1{font-family: fantasy;}

h2{font-family: fantasy;}

p{font-size: 18px;}

.img_padrao{margin-bottom: 20px; width: 300px;}
.img_contatos{width: 30px;}